export JAR=$HOME/dev/jdt/plugins/org.eclipse.equinox.launcher_*.jar
export JDTLS_CONFIG=$HOME/dev/jdt/config_linux
export WORKSPACE=$HOME/workspace
export RANGER_LOAD_DEFAULT_RC=false

export LD_LIBRARY_PATH=/opt/oracle/instantclient_21_3:$LD_LIBRARY_PATH
export PATH=$HOME/.config/scripts:/opt/oracle/instantclient_21_3:$PATH

export PATH=$PATH:/usr/local/go/bin
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
